body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(223, 10%, 27%);
}

.outerBody {
    display: flex;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 100%; /* Adjusts width based on viewport size */
    margin: 20px; /* Add margin for spacing */
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth effect */
}

.search {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
}

.button {
    color: white;
    background-color: navy;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #001f4d;
}

.button:focus {
    outline: none;
}

.innerBody {
    max-height: 300px;
    width: 200px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBody img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .outerBody {
        max-width: 90%; /* Adjust width for smaller screens */
    }

    .search {
        width: 100%; /* Make input full width on smaller screens */
    }
}